name: Status Checks

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.6
          bundler-cache: true
      - run: bundle exec rubocop

  test:
    name: Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.6
          bundler-cache: true
      - name: Run RSpec
        env:
          RAILS_ENV: test
          DB_USER: postgres
          DB_PASSWORD: postgres
        run: |
          cp config/database.yml.example config/database.yml
          bundle exec rails db:setup
          bundle exec rspec
